@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Merriweather:ital,wght@0,300;1,300&family=Mukta:wght@200&family=PT+Serif:ital@1&family=Roboto+Mono:wght@100&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Abril Fatface', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Mono', monospace;
}

#navbar {
    background-color: rgb(167, 61, 61);
    font-family: 'Yeon Sung';
    padding: 13px 14px;
    display: flex;
}
#logo{
    display: flex;
    height: 30px;
    width: 45px;
    margin: 0px;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navbar li {
    list-style: none;
    color: white;
}

#navbar li a {
    text-decoration: none;
    padding: 13px 20px;
    color: white;
}

#navbar li a:hover {
    color: black;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:rgb(167, 61, 61, 0.4); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  #sp{
    color:white;
    border: 2px solid rgb(234, 176, 176);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    padding: 2px 7px;
    
  }
  #sp:hover{
    cursor: pointer;
    background-color: rgb(210, 15, 15);
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #3f0505;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
#introSection {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 65px;
    align-items: center;
    background: center/cover no-repeat url("static/drew-colins-LIEQsu5JuoM-unsplash.jpg");
    background-size: cover;
    height: 500px;
    background-color: red;
}

#introSection div.small {
    font-size: 52px;
    padding: 5px;
}

#missionSection{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    
}
.boxContainer{
    display: flex;
    flex-direction: row;
   
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 20px;
    height: 209px;
}
#footer {
    display: flex;
    background-color: black;
    height: 25px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}


#missionSection h2{
    font-size: 36px;
    font-family: 'Yeon Sung' ;
    text-align: center;
    padding-top: 12px;
}
